
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body{
	background-color: rgba(194,180,155,1);
}

.parent-container{
	display: flex;
	justify-content: center;
	flex-direction: row;
	
}

.box-container{
	top: 10%;
	position: absolute;
	display: flex;
	justify-content: space-around;
	width: 60vw;
	height: 45vh;

}


.corpo{
	top:40%;
	

}

.cabeca{
	justify-content: ;
}


.content-box {
	flex-direction: row;
	background-color: rgb(255, 241, 215);
	filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.161));
	position: relative;
	overflow: hidden;
	width: 30vw;
	height: 45vh;
	border-radius: 8px;
	padding: 10px;
}

.header {
	position: relative;
	overflow: visible;
	width: 316px;
	white-space: nowrap;
	text-align: left;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 61px;
	color: rgba(46,61,51,1);
	text-transform: capitalize;
}

.valor{
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	padding: 10px;
	border-bottom: 1px solid rgb(167, 167, 167);
}

.moeda-box{
	
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	

}

.moeda{
	
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	background-color:  rgb(255, 241, 215);
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
}


.footer {
	background-color: rgba(81,81,54,1);
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 5%;
	left: 0px;
	top: 95.5%;
	
}

.footer-content{
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	width: 30%;
	height: 100%;
	left: 70%;
	top: 10%;
}
.credits {
	position: relative;
	white-space: nowrap;
	text-align: left;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(194,180,155,1);
	top: 10%;

}
#iconmonstr-github-3 {
	fill: rgba(194,180,155,1);
}
.iconmonstr-github-3 {	
	
	overflow: visible;
	position: relative;
	width: 70%;
	height: 70%;
	transform: matrix(1,0,0,1,0,0);
}
#linkedin {
	fill: rgba(194,180,155,1);
}
.linkedin {
	overflow: visible;
	position: relative;
	width: 70%;
	height: 70%;
	transform: matrix(1,0,0,1,0,0);
}
.icon{
	margin-left: 10px;
	width: 34px;
	height: 34px;
	cursor: pointer;
}
