.App {
  text-align: center;
  background-color: rgb(194, 180, 155);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 50% 20%;
  gap: 0px 0px;
  grid-template-areas:
    "icon"
    "boxes"
    "footer";
}
.icon { grid-area: icon; }
.boxes { grid-area: boxes; }
.footer { grid-area: footer; }

.box{
  width: 30%;
  background-color: white;
}



 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
